:root {
    --white-color: #ffffff ;
    --black-color: #000 !important;
    --text-color: #333;
    --primary-color:#EE4D2D;
    --border-color: #dbdbdb;
    --star-gold-color: #ffce3e;
    --header-height: 120px;
    --nav-height: 34px;
    --header-with-search-height: calc(var(--header-height) - var(--nav-height)); 
}